[defaults]
host_key_checking=False
inventory = ./ansible/inventory
roles_path = ./ansible/roles
display_skipped_hosts = False
log_path = /home/student/PostgreSQL-Ansible-Automation/ansible/provisioning_logs/provisioning.log
vault_password_file = ~/.vault_pass