[defaults]
host_key_checking=False
inventory = ./ansible/inventory
roles_path = ./ansible/roles
display_skipped_hosts = False
log_path = /home/student/ansible_execution.log
vault_password_file = ~/.vault_pass